html {
  font-size: 62.5%; //? Defines what 1rem is in global scope; 1rem = 10px; 10px/16px(default browser font-size value) = 62.5%;
  box-sizing: border-box;
}
/* Select ALL the elements and their PSEUDO ELEMENTS they have */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: inherit;
}

.App {
  height: 100vh;
  width: 100vw;
  box-sizing: inherit;
  background-image: linear-gradient(to right bottom, $color-grey-light-1 20%, $color-grey-light-4);
  background-size: cover;
  padding: 5rem;

  @include respond(tab-land) {
    padding: 0;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

::selection {
  background-color: $color-grey-dark-1;
  color: $color-white;
}
