html {
  font-size: 62.5%; //? Defines what 1rem is in global scope; 1rem = 10px; 10px/16px(default browser font-size value) = 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  
}
/* Select ALL the elements and their PSEUDO ELEMENTS they have */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: inherit;
}

.App {
  height: auto;
  width: auto;
  box-sizing: inherit;
  background-image: linear-gradient(to right, $color-grey-dark-3 5%, $color-grey-light-4);
  background-size: cover;
  padding: 5rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0;
  }
}

::selection {
  background-color: $color-grey-dark-1;
  color: $color-white;
}
